<div class="container">
  <h1>Este es el primer proyecto</h1>
  <h2>hola {{name()}}</h2>
  <ul>
    <li *ngFor="let item of items">
      {{ item }}
    </li>
  </ul>
  <h3>hola</h3>
  <hr>
  <h2>{{ 'Hola soy JMaycolV'.repeat(5) }}</h2>
  <p>'La suma es 3 + 3 =' {{ 3 + 3 }}</p>
  <p>{{ Bienvenido }} </p>
  <ul>
    <li *ngFor="let item of lista">
      {{ item }}
    </li>
  </ul>
  <p>Hola soy {{ name() }} y mi edad es {{age}}</p>
  <hr>
  <img [src]="img" alt="">
  <input type="text" [value]="name()">
  <button [disabled]="disabled">Click Me</button>
  <p>Person : {{person.name}}</p>
  <p>Age : {{person.age}}</p>
  <p>Avatar : </p><img [src]="person.avatar" alt="">
  <hr>
  <button (click)="clickHandler()">Presioname</button>
  <button (dblclick)="clickHandler()" >Doble click</button>
  <p>(change)</p>
  <input type="number" [value]="person.age" (change)="inputHandler($event)">
  <p>(Keydowm)</p>
  <input type="number" [value]="person.age" (keydown)="keydownHandler($event)">
  <p>(Keydowm)</p>
  <input type="number" [value]="person.age" (keydown.shift.t)="clickHandler()">
  <hr>
  <h2>SIGNALS</h2>
  <input type="number" [value]="name()" (keydown)="keydownHandler($event)">
</div>
